<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>価格.com</title>
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/foundation/normalize.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/layout/base.css}" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/yakuhanjp/1.3.1/css/yakuhanjp_s.min.css" />
</head>
<body>
<div id="wrapper">
    <!-- header -->
    <header>
        <div class="header__inner">
            <div class="header__logo">
                <a th:href="@{/}"></a>
            </div>
            <div class="header__nav">
                <ul class="header__nav__group">
                    <li class="header__nav__item"><a th:href="@{/loginForm}">ログイン</a></li>
                    <li class="header__nav__item"><a th:href="@{/account/create}">新規会員登録</a></li>
                </ul>
            </div>
        </div>
    </header>

    <!-- content-->
    <div id="content" layout:fragment="content">

    </div>

    <!-- footer -->
    <footer>
        <div class="footer_inner">
            <div class="footer__nav">
                <ul class="footer__nav__group">
                    <li class="footer__nav__item"><a href="">運営会社</a></li>
                    <li class="footer__nav__item"><a href="">利用規約</a></li>
                    <li class="footer__nav__item"><a href="">サイトマップ</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>
</body>
</html>