.main {
    background-color: #fff;
    padding: 40px;
}

h2 {
    margin-bottom: 20px;
}

.login__alert {
    padding: 5px 0;
}

.login__alert p {
    color: #db3e26;
}

.login__table {
    margin-bottom: 20px;
}

.login__table tr th {
    border-right: solid 1px #eeeeee;
    font-size: 18px;
    font-weight: bold;
    padding: 32px 0;
    width: 165px;
    text-align: left;
}

.login__table tr td {
    padding-left: 40px;
}

.login__table tr td input {
    background-color: #fafafa;
    border: 1px solid #dedede;
    padding: 15px 10px;
    width: 280px;
    font-size: 14px;
}

.login__submit button {
    background-color: #1b9af7;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 16px;
    padding: 16px 32px;
}
