/**
 * index.css
 * トップページのスタイル
 */

.categories {
    overflow: hidden;
}

/* clearfix */
.categories {
    overflow: hidden;
    zoom: 1;
}

.category {
    background-color: #ffffff;
    float: left;
    margin-bottom: 20px;
    margin-left: 2%;
    width: 32%;
}

.category:nth-child(3n-2) {
    margin-left: 0;
}

.category__anchor_wrapper {
    box-sizing: border-box;
    display: block;
    height: 200px;
    padding: 30px;
}

.category__large {
    font-size: 32px;
    font-weight: bold;
}